variables:
  ENVIRONMENT: dev
  ROLE_ARN: arn:aws:iam::747207162522:role/PCMAdmin
  DEV_ARN: arn:aws:iam::530786275774:role/PCMAdmin
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://docker:2375/
  SHARE_ACCOUNTS_KEY: ssm_tool/accounts_list
  GET_PCM_ACCOUNTS: 'true' # if 'true' use SHARE_ACCOUNTS_KEY as the output key
  DEPLOY_DOCUMENTS: 'true' # if 'true' deploy documents to all accounts
  RUN_PARAMETER_JOBS: 'false' # if 'true' run jobs in "jobs/parameter_tool"

stages:
  - lint
  - deploy-layer
  - cdk
  - get-accounts
  - documents
  - run-jobs

.assume_role_script_template: &assume_role_script
 before_script:
 - eval "$(aws sts assume-role --role-arn ${ROLE_ARN} --duration-seconds 3600 --role-session-name "CI-${CI_COMMIT_SHA}" | jq -r '.Credentials|@sh "aws_secret=\(.SecretAccessKey) aws_session=\(.SessionToken) expiration=\(.Expiration) aws_key=\(.AccessKeyId)"')"
 - export AWS_ACCESS_KEY_ID=${aws_key}
 - export AWS_SECRET_ACCESS_KEY=${aws_secret}
 - export AWS_SESSION_TOKEN=${aws_session} >/dev/null


##############################################################################
# Lint
##############################################################################

lint:
  stage: lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != "main"'
      changes:
        - infrastructure/*
        - lambdas/*/*
        - layers/*/*
        - app.py
        - parameter_store.json
      when: always
  script:
    - bash ci/lint/lint-project.sh
  tags:
    - ami-builder-dev
  artifacts:
    paths:
      - ci/lint/output/lint-output.txt
  allow_failure: false


##############################################################################
# Deploy-layer
##############################################################################

deploy-shared-layer:
  stage: deploy-layer
  rules:
    - if: '$CI_COMMIT_BRANCH != "main" && $CI_PIPELINE_SOURCE == "push"'
      changes:
        - layers/**/*
      when: on_success
      variables:
        ROLE_ARN: $DEV_ARN
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
      changes:
        - layers/**/*
      when: on_success
      variables:
        ENVIRONMENT: prod
  services:
    - docker:18-dind
  tags:
    - pcm-prod
  <<: *assume_role_script
  script:
    - echo running synth on SsmSharedLayerStack-${ENVIRONMENT^} ...
    - cdk synth SsmSharedLayerStack-${ENVIRONMENT^} -c stage=${ENVIRONMENT}
    - cdk deploy --app 'cdk.out/' SsmSharedLayerStack-${ENVIRONMENT^} -t t_AppID=SVC02522 --require-approval never


##############################################################################
# CDK
##############################################################################

deploy-ssm-paramter-tool:
  stage: cdk
  rules:
    - if: '$CI_COMMIT_BRANCH != "main" && $CI_PIPELINE_SOURCE == "push"'
      changes:
        - infrastructure/ssm_parameter_tool_stack
        - lambdas/ssm_parameter_tool/*
        - layers/**/*
        - app.py
        - parameter_store.json
      when: on_success
      variables:
        ROLE_ARN: $DEV_ARN
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
      changes:
        - infrastructure/ssm_parameter_tool_stack
        - lambdas/ssm_parameter_tool/*
        - layers/**/*
        - app.py
        - parameter_store.json
      when: on_success
      variables:
        ENVIRONMENT: prod
  services:
    - docker:18-dind
  tags:
    - pcm-prod
  <<: *assume_role_script
  script:
    - echo running synth on SsmParameterToolStack-${ENVIRONMENT^} ...
    - cdk synth SsmParameterToolStack-${ENVIRONMENT^} -c stage=${ENVIRONMENT}
    - cdk deploy --app 'cdk.out/' SsmParameterToolStack-${ENVIRONMENT^} -t t_AppID=SVC02522 --require-approval never

deploy-document-tool:
  stage: cdk
  rules:
    - if: '$CI_COMMIT_BRANCH != "main" && $CI_PIPELINE_SOURCE == "push"'
      changes:
        - infrastructure/ssm_deploy_document_stack
        - lambdas/ssm_deploy_document_tool/*
        - layers/**/*
        - app.py
        - parameter_store.json
      when: on_success
      variables:
        ROLE_ARN: $DEV_ARN
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
      changes:
        - infrastructure/ssm_deploy_document_stack
        - lambdas/ssm_deploy_document_tool/*
        - layers/**/*
        - app.py
        - parameter_store.json
      when: on_success
      variables:
        ENVIRONMENT: prod
  services:
    - docker:18-dind
  tags:
    - pcm-prod
  <<: *assume_role_script
  script:
    - echo running synth on SsmDeployDocumentStack-${ENVIRONMENT^} ...
    - cdk synth SsmDeployDocumentStack-${ENVIRONMENT^} -c stage=${ENVIRONMENT}
    - cdk deploy --app 'cdk.out/' SsmDeployDocumentStack-${ENVIRONMENT^} -t t_AppID=SVC02522 --require-approval never


###############################################################################
# Documents
###############################################################################

get-accounts:
  stage: get-accounts
  rules:
    - if: '$GET_PCM_ACCOUNTS != "true"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
      when: on_success
      variables:
        ENVIRONMENT: prod
        account: '747207162522'
    - if: '$CI_COMMIT_BRANCH != "main" && $CI_PIPELINE_SOURCE == "push"'
      when: on_success
      variables:
        ROLE_ARN: $DEV_ARN
        account: '530786275774'
  tags:
    - pcm-prod
  <<: *assume_role_script
  script:
    - python3 -m pip install -r layers/utilities/requirements.txt
    - export PYTHONPATH=${PYTHONPATH}:$(pwd)/layers/utilities
    - SM_INPUT='{ "action"':' "start", "output"':' { "account"':' "'${account}'", "bucket"':' "pcm-shared-code-'${account}'", "key"':' "'${SHARE_ACCOUNTS_KEY}'" } }'
    - python3 scripts/start_state_machine.py $ENVIRONMENT get_accounts ssm-tool """${SM_INPUT}""" --wait

deploy-documents:
  stage: documents
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $DEPLOY_DOCUMENTS == "true"'
      when: on_success
      variables:
        ENVIRONMENT: prod
    - if: '$CI_COMMIT_BRANCH != "main" && $DEPLOY_DOCUMENTS == "true"'
      when: on_success
      variables:
        ROLE_ARN: $DEV_ARN
  tags:
    - pcm-prod
  <<: *assume_role_script
  script:
    - bash scripts/upload_documents.sh ${ENVIRONMENT}
    - python3.9 -m pip install -r layers/utilities/requirements.txt
    - export PYTHONPATH=${PYTHONPATH}:$(pwd)/layers/utilities
    - if [[ -n $SHARE_ACCOUNTS_KEY ]]; then event='{ "action"':' "init", "accounts_key"':' "'$SHARE_ACCOUNTS_KEY'" }'; else event='{ "action"':' "init" }'; fi
    - echo $event
    - python3.9 scripts/start_state_machine.py ${ENVIRONMENT} deploy_document ssm_tool """${event}""" --wait | tee sm-result
    - grep -E -q "Success!" sm-result


###############################################################################
# Run-Jobs
###############################################################################
run-parameter-jobs:
  stage: run-jobs
  rules:
    - if: '$RUN_PARAMETER_JOBS == "true" && $ENVIRONMENT == "prod"'
      when: on_success
    - if: '$RUN_PARAMETER_JOBS == "true" && $ENVIRONMENT == "dev"'
      when: on_success
      variables:
        ROLE_ARN: $DEV_ARN
  tags:
    - pcm-prod
  <<: *assume_role_script
  script:
    - bash scripts/run-parameter-job.sh
