name: Run Parameter Store Jobs
on:
  workflow_dispatch:
    inputs:
      stage:
        description: 'The deployment stage (e.g., DEV, PRD)'
        required: true
        type: choice
        options:
          - DEV
          - PRD

jobs:
  # Set environment configuration based on stage
  set-environment:
    runs-on: arm-ubuntu24
    outputs:
      role_arn: ${{ steps.config.outputs.role_arn }}
    steps:
      - name: Set configuration
        id: config
        run: |
          if [[ "${{ inputs.stage }}" == "PRD" ]]; then
            echo "role_arn=arn:aws:iam::747207162522:role/PCMCloudAdmin" >> $GITHUB_OUTPUT
          else
            echo "role_arn=arn:aws:iam::530786275774:role/PCMCloudAdmin" >> $GITHUB_OUTPUT
          fi

  run-parameter-jobs:
    needs: set-environment
    runs-on: arm-ubuntu24

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ vars.PYTHON_VERSION }}

      - name: Assume role
        run: ci/assume_role.sh ${{ needs.set-environment.outputs.role_arn }}

      - name: Run Parameter Store Jobs
        run: bash scripts/run-parameter-job.sh
