name: Run Parameter Store Related Jobs
on:
  workflow_dispatch:
    inputs:
      stage:
        description: 'The deployment stage (e.g., DEV, PRD)'
        required: true
        type: choice
        options:
          - DEV
          - PRD

jobs:
  run-parameter-jobs:
    runs-on: arm-ubuntu24

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Assume role
        run: ci/assume_role.sh ${{ inputs.stage == 'PRD' && 'arn:aws:iam::747207162522:role/PCMCloudAdmin' || 'arn:aws:iam::530786275774:role/PCMCloudAdmin' }}

      - name: Run Parameter Store Jobs
        run: bash scripts/run-parameter-job.sh
